@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@if (!ViewData.ModelState.IsValid)
{
    <h3>Error</h3>
    foreach (var modelState in ViewData.ModelState.Values)
    {
        var errors = modelState.Errors;

        if (errors.Any())
        {
            <ul>
                @foreach(var err in errors)
                {
                    <li><em>@err.ErrorMessage</em></li>
                }
            </ul>
        }
    }
}
else
{
    <h2>Email Address Verified</h2>
    <p>Your email address has been verified, you can now login to the site.</p>
    <a class="btn btn-outline-primary" href="/login">Go to login</a>
}
