@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@{
}

<div class="carousel-background" style="background: url(/images/bg_primary_area.jpg) repeat center top;">
    <div class="container carousel-container">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators"><button class="active" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button><button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button><button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button></div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="https://www.eventbrite.com/e/step-into-your-future-interactive-trade-expo-and-job-resource-fair-tickets-907914616057?aff=oddtdtcreator">
                        <img class="d-block w-100 carousel-image" src="/images/06_28_Eden.jpg">
                    </a>
                    <div class="caption-background"></div>
                    <div class="d-none d-md-block carousel-caption">

                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>


                    </div>
                </div>
                <div class="carousel-item">
                    <a href="https://www.billwinston.org/bwm_contribution_otc.aspx" target="_blank">
                        <img class="d-block w-100 carousel-image" src="/images/000_OTC_V3.jpg">
                    </a>
                    <div class="caption-background"></div>
                    <div class="d-none d-md-block carousel-caption">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="https://www.livingwd.org/live/">
                        <img class="d-block w-100 carousel-image" src="/images/01_BWM_Live_Stream.jpg">
                    </a>
                    <div class="caption-background"></div>
                    <div class="d-none d-md-block carousel-caption">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>

            </div><button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button><button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
        </div>
    </div>
</div>