@using Umbraco.Cms.Web.Common.Views;
@using Umbraco.Cms.Core.PropertyEditors;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@using Umbraco.Cms.Core.Services;
@using Umbraco.Cms.Core.Media;
@using Umbraco.Cms.Core;


@inject IContentService ContentService
@inject IPublishedContentQuery PublishedContentQuery
@inject IImageUrlGenerator ImageUrlGenerator


<!-- Latest News Articles -->
@{
    /**/
    // ContentService.GetById(Guid)s
    // PublishedContentQuery.content(Guid)
    var latestNews = PublishedContentQuery.Content(Guid.Parse("9fa995c8-494b-45ff-9f47-3a675b732a2a"))
    .ChildrenOfType("newsArticle")
    .Where(x => x.IsVisible())
    .OrderByDescending((IPublishedContent x) => x.CreateDate)
    .Take(3);

}


<!-- Latest News cards -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-deck">
                @foreach (var item in latestNews)
                {
                    var imgCropper = item.Value<ImageCropperValue>("articleImage");
                    var thumbUrl = imgCropper.Src + imgCropper.GetCropUrl("Thumb", ImageUrlGenerator);

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@thumbUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Value("leadIn")</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <div><a href="@item.Url(null, UrlMode.Absolute)" class="btn btn-primary">Read more</a></div>
                            <div class="social-icons text-muted">
                                <a class="ml-2 mr-2" href="https://twitter.com/intent/tweet?text=@item.Value("leadIn")&amp;url=@item.Url(null, UrlMode.Absolute)">
                                    <i class="fab fa-twitter"></i>
                                    
                                </a>
                                <a class="ml-2 mr-2" href="https://facebook.com/sharer.php?u=@item.Url(null, UrlMode.Absolute)">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a class="ml-2 mr-2" href="https://linkedin.com/shareArticle?mini=true&amp;url=@item.Url(null, UrlMode.Absolute)">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
