@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@{

}

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Popular Resources</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul>
            <li class="Contact Us">
                <a href="/lwcc-contact-us" title="Contact Us">Contact Us</a>
            </li>
            <li class="Service Times">
                <a href="/lwcc-service-times/" title="Service Times" data-uw-rm-brl="PR" data-uw-original-href="https://www.livingwd.org/lwcc-service-times/">Service Times</a>
            </li>
            <li class="Events">
                <a href="/featured-events/" title="Events" data-uw-rm-brl="PR" data-uw-original-href="https://www.livingwd.org/featured-events/">Events</a>
            </li>
            <li class="Prayers">
                <a href="/lwcc-prayers-and-confessions/" title="Prayers" data-uw-rm-brl="PR" data-uw-original-href="https://www.livingwd.org/lwcc-prayers-and-confessions/">Prayers</a>
            </li><li class="FMA">
                <a target="_blank" href="http://www.faithministriesalliance.org/" title="FMA" aria-label="FMA - open in a new tab">FMA</a>
            </li>
            <li class="Donate">
                <a href="/lwcc-online-giving/" title="Donate" data-uw-rm-brl="PR" data-uw-original-href="https://www.livingwd.org/lwcc-online-giving/">Donate</a>
            </li>
            <li class="Watch Live Broadcast">
                <a target="_blank" href="https://www.livingwd.org/live/" title="Watch Live" aria-label="Watch Live - open in a new tab">Watch Live</a>
            </li>
        </ul>


    </div>
</div>