@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using System.Globalization;
@{
    var homePage = Model.AncestorOrSelf<Home>(); 
}



<a class="twitter-timeline" href="https://twitter.com/DrBillWinston?ref_src=twsrc%5Etfw">Tweets by DrBillWinston</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

