@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="container-fluid">
    <div class="row" style="margin-top: 6em;margin-bottom: 4em;background: #e2e2e2;padding: 4em 2em;">
        <div class="col-12 col-lg-11 col-xl-10 col-xxl-8 mx-auto">
            <div class="row">
                <div class="col-12 col-lg-6"><img src="images/temp/frontOfChurch.png"></div>
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <div class="col">
                            <div> 
                                <h6 class="fw-semibold" style="color: #5b42f3;">We're Here to Help</h6>
                                <h4><span style="position:relative;padding-bottom:5px;">Connect with Living Word<span style="position:absolute;bottom:0;left:0;height:2px;width:100%;background:linear-gradient(to right, turquoise, greenyellow);"></span></span></h4>
                                <p>We'd love to hear from you! Whether you have questions, need prayer, or want to learn more about Living Word Church, we're here to help. Please feel free to reach out to us using any of the following methods:</p><ul>
                                    <li>
                                        <h6><b>Our Location</b></h6>
                                        <p>7600 Roosevelt rd. Forest Park, Il</p>
                                    </li>
                                    <li>
                                        <h6><b>Phone Number</b></h6>
                                        <p>708-697-5000</p>
                                    </li>
                                    <li>
                                        <h6><b>Email Address</b></h6>
                                        <p>support@livingwd.org</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>