@using LWCCWebsite.Controllers
@model LWCCWebsite.ViewModels.ContactFormViewModel
@{
    ViewData["Title"] = "Contact Form";
}


@if((string)TempData["status"] == "OK")
{
    // Display a success message, wrap in <text>???
    <div class="container">
        <div class="row">
            <div class="col-actions text-center p-5">
                <i class="fa-solid fa-5x fa-thumbs-up"></i>
                <h2>Thanks For your form submission</h2>
            </div>
        </div>
    </div>
}
else
{
    // Display the form
    @using (Html.BeginUmbracoForm<ContactController>(nameof(ContactController.HandleContactForm)))
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- Name -->
        <div class="form-group mb-3">
            <label asp-for="Name" class="mb-1" style="font-size:.95em;">Your name *</label>
            <input asp-for="Name" class="form-control mb-1" id="CFInputName" aria-describedby="nameHelp" placeholder="Enter name" />
            <span class="field-validation-valid text-danger" asp-validation-for="Name"></span>
        </div>

        <!-- Email -->
        <div class="form-group mb-3">
            <label asp-for="EmailAddress" class="mb-1" style="font-size:.95em;">Your email *</label>
            <input asp-for="EmailAddress" class="form-control mb-1" id="CFInputEmail" aria-describedby="emailHelp" placeholder="Enter email" />
            <span class="field-validation-valid text-danger" asp-validation-for="EmailAddress"></span>
        </div>

        <!-- Subject -->
        <div class="form-group mb-3">
            <label asp-for="Subject" class="mb-1" style="font-size:.95em;">Subject of enquiry</label>
            <input asp-for="Subject" class="form-control mb-1" id="CFInputSubject" aria-describedby="subjectHelp" placeholder="Enter Subject" />
            <span class="field-validation-valid text-danger" asp-validation-for="Subject"></span>
        </div>

        <!-- Comments -->
        <div class="form-group mb-3">
            <label asp-for="Comment" class="mb-1" style="font-size:.95em;">Comments</label>
            <input asp-for="Comment" class="form-control mb-1" id="CFInputComments" aria-describedby="commentsHelp" placeholder="Enter Comments" />
            <span class="field-validation-valid text-danger" asp-validation-for="Comment"></span>
        </div>

        <!-- Put the rest of form elements -->

        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Send</button>
        </div>
    }
}





    
