@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section style="margin-bottom: 6em;">
    <div class="container" style="margin-bottom: 2em;">
        <div class="row">
            <div class="col">
                <h6 class="fw-semibold" style="text-align: center;color: #5b42f3;">Events</h6>
                <h2 style="text-align:center;"><span style="position:relative;padding-bottom:5px;"> Upcoming Events<span style="position:absolute;bottom:0;left:0;height:2px;width:100%;background:linear-gradient(to right, turquoise, greenyellow);"></span></span></h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="swiper event-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card event-card">
                                <img class="card-img-top w-100 d-block" src="https://images.pexels.com/photos/976866/pexels-photo-976866.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="Sunday Service">
                                <div class="card-body">
                                    <h5 style="color: #5b42f3;">June 30, 2024</h5>
                                    <h4 class="text-secondary card-title">Living Word Sunday Service</h4>
                                    <p class="card-text lh-sm">Join us every Sunday at Living Word for an uplifting and inspiring worship experience. Our Sunday Service is a time to come together as a community, celebrate our faith, and deepen our connection with God. Whether you are a long-time member or a first-time visitor, you are warmly welcomed to join us.</p><a class="btn btn-secondary mt-auto card-link" role="button" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card event-card">
                                <img class="card-img-top w-100 d-block" src="https://images.pexels.com/photos/2014775/pexels-photo-2014775.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="Wed Bible Study">
                                <div class="card-body">
                                    <h5 style="color: #5b42f3;">June 26, 2024</h5>
                                    <h4 class="text-secondary card-title">Living Word Wednesday Night Bible Study</h4>
                                    <p class="card-text lh-sm">Join us every Wednesday evening at Living Word for an enriching and engaging Bible study session. Our Wednesday Night Bible Study is a wonderful opportunity to delve deeper into Scripture, grow in faith, and connect with fellow believers. Whether you're new to the Bible or have been studying for years, you are welcome to join us.</p><a class="btn btn-secondary mt-auto card-link" role="button" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card event-card">
                                <img class="card-img-top w-100 d-block" src="images/temp/OTC_600-400.png" alt="Rex">
                                <div class="card-body">
                                    <h5 style="color: #5b42f3;">March 22-23, 2024</h5>
                                    <h4 class="text-secondary card-title">Operation Ten City</h4>
                                    <p class="card-text lh-sm">Join us on Saturday, November 18th for Greatness Unlocked, a full-day of programming designed to unleash the entrepreneurial fuel that powers profitable and sustainable businesses</p><a class="btn btn-secondary mt-auto card-link" role="button" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card event-card">
                                <img class="card-img-top w-100 d-block" src="images/temp/IFC2024_600-400.png" alt="Rex">
                                <div class="card-body">
                                    <h5 style="color: #5b42f3;">Sseptember 8-13, 2024</h5>
                                    <h4 class="text-secondary card-title">International Faith Conference 2024</h4>
                                    <p class="card-text lh-sm">Join us for an inspiring and transformative experience at the International Faith Conference 2024. This global event brings together believers from around the world to celebrate faith, foster unity, and deepen spiritual understanding. Whether you are a longtime follower or new to the faith, this conference offers something for everyone.</p><a class="btn btn-secondary mt-auto card-link" role="button" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card event-card">
                                <img class="card-img-top w-100 d-block" src="images/temp/BLC_600-400.png" alt="Rex">
                                <div class="card-body">
                                    <h5 style="color: #5b42f3;">March 22-23, 2024</h5>
                                    <h4 class="text-secondary card-title">Business and Leadership Conference</h4>
                                    <p class="card-text lh-sm"><strong>The 2024 Business &amp; Leadership Conference (BLC)</strong> is a two-day experience purposed to equip entrepreneurs and leaders with strategies and tools to create their own economies and dominate their industries. Global business leaders will gather at BLC to discuss leadership strategies as well as to identify resources to take dominion over cities and nations.</p><a class="btn btn-secondary mt-auto card-link" role="button" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event-swiper-pagination"></div>
                    <div class="event-swiper-button-next"></div>
                    <div class="event-swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>