@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var homePage = Model.AncestorOrSelf<Home>(); 
}
<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col text-center py-4">
                <ul class="list-inline-item">
                    <li class="list-inline-item">
                        <a href="http://twitter.com/" target="_blank" title="Follow us on twitter">
                            <i class="fab fa-twitter fa-2x text-white"></i>
                        </a>
                    </li>
                </ul>
                <p class="text-white">Copyright &copy;  Living Word Christian Center</p>
            </div>
        </div>
    </div>
</footer>