@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="container-fluid">
    <div class="row" style="margin-top:4em;margin-bottom:4em;background:#e2e2e2;padding:4em 2em;">
        <div class="col-12 col-lg-11 col-xl-10 col-xxl-8 mx-auto">
            <div class="row">
                <div class="col-12 col-lg-6 col-xxl-4 my-auto">
                    <div style="clip-path:polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0% 0%);background-color:#fcfdc6;padding:4em 2em;">
                        <div>
                            <img class="d-block" src="images/temp/LWCC_wave_logo.png" alt="Logo">
                            <h1 style="padding-left:2em;padding-top:.5em;">Jobs</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xxl-8">
                    <div>
                        <h6 class="fw-semibold" style="color:#5b42f3;">Work with Us</h6>
                        <h4 style="padding-bottom:.5em;"><span style="position:relative;padding-bottom:5px;">Career Opportunities at Living Word<br><span style="position:absolute;bottom:0;left:0;height:2px;width:100%;background:linear-gradient(to right, turquoise, greenyellow);"></span></span></h4>
                        <p>Are you passionate about making a difference and serving your community through faith? Join our dedicated team at Living Word Church! We are looking for talented and committed individuals to help us fulfill our mission and serve our congregation. Explore our current job openings and find the perfect opportunity to use your skills and talents for God's work.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>