@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <div class="container-fluid">
    <div class="row" style="background: url(/images/temp/Background_full.png) repeat center right;background-size: cover; z-index: -2;">
            <div class="col-12 col-lg-11 col-xl-10 col-xxl-8 mx-auto">
                <div class="row">
                    <div class="col-12 col-lg-6 my-auto">
                        <div style="padding: 2em;">
                            <h6 class="fw-semibold" style="color: #5b42f3;">Welcome</h6>
                            <h2>Welcome to Living Word Christian Center</h2>
                            <p>Veronica and I welcome you to Living Word Christian Center online! Now more than ever, we all need to stay connected with our church family and friends and to take the time daily to strengthen our faith through God’s Word, prayer, and worshiping God together.</p>
                            <p>Living Word is a place of encouragement, hope, and faith… where Jesus is Lord! Please join us every Wednesday and Sunday for our online worship experience. A warm seat awaits you…right at home!</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 my-auto">
                        <div class="text-end" style="padding: 3em;margin-right: 3em;overflow: hidden;height: 400px;">
                            <img class="d-block mx-atuo" src="/images/temp/Welcome_600-400.jpg" style="height: 90%;z-index: 3;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>