@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="container">
    <div class="row" style="margin-top: 4em;margin-bottom: 4em;">
        <div class="col-12 col-lg-6 my-auto" style="position: relative;">
            <div style="padding: 2em;padding-left: 3em;">
                <h6 class="fw-semibold" style="color: #5b42f3;">About Us</h6>
                <h2>A Legacy of Faith</h2>
                <p>Living Word Christian Center is a Word of Faith, non-denominational, full gospel church. Our mission is reaching and harvesting lost souls for Christ and teaching the Body of Christ how to effectively apply God's principles to have victory in every area of life. Living Word is a place where people can come to learn to use the Word of God as the Covenant of God, thus building a relationship with God, and not just being religious.</p>
                <button class="button-63" type="button" role="button">More About Us</button>
                
            </div>
            <img style="position: absolute;bottom: 0;left: 0;height: 100%;width: 40%;opacity: 0.21;" src="images/temp/BuildingWird.png">
        </div>
        <div class="col-12 col-lg-6" style="position: relative;">
            <div style="padding: 3em;margin-right: 4em;overflow: hidden;"><img style="width:100%;" src="images/temp/sanctuary.png"></div>
            <div style="position: absolute;bottom: 0;top: -20px;right: 0;z-index: -1;background-color: #00ddeb;width: 50%;height: calc(100% + 20px);"></div>
        </div>
    </div>
</div>