@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using System.Globalization;
@{
    var homePage = Model.AncestorOrSelf<Home>(); 
}


<div style="height: 500px; overflow: hidden">
    <a class="twitter-timeline" href="https://twitter.com/DrBillWinston?ref_src=twsrc%5Etfw" data-width="300"
       data-height="300"> Tweets by DrBillWinston</a>
</div>



