@using LWCCWebsite.Core.UmbracoModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Login>
@using ContentModels = LWCCWebsite.Core.UmbracoModels;
@using LWCCWebsite.ViewModels;

@{
	Layout = "Main.cshtml";
    
}

<div class="container">
    <div class="row">
        <div class="col">
            @await Html.PartialAsync("Partials/Login/Login", new LoginViewModel())
        </div>
    </div>
</div>