@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<LWCCWebsite.ViewModels.ForgottenPasswordViewModel>
@using LWCCWebsite.Controllers
@using Umbraco.Cms.Core.Security
@inject Umbraco.Cms.Core.Services.IMemberService memberService
@inject IMemberManager _memberManager
@model LWCCWebsite.ViewModels.ForgottenPasswordViewModel


<h1>Forgotten Password</h1>

@{
    var isMemberLoggedIn = _memberManager.IsLoggedIn();
    var myUser = await _memberManager.GetCurrentMemberAsync();
}


<!-- Are we allready logged in -->
<!-- Just show a message -->
@if (isMemberLoggedIn)
{
    <h2>You are allready logged in!</h2>
}
else if (TempData["status"] != null && (string)TempData["status"] == "OK")
{
    <!-- Success message -->
    <!-- Email has been sent -->
    <p>
        An email has been sent to the email address you provided. Please check your email and follow the instructions to reset your password.
    </p>
}
else
{
    <!-- Display specific model errors -->
    @if (ViewData.ModelState.ContainsKey("Login") && ViewData.ModelState["Login"].Errors.Any())
    {
        <div class="alert alert-danger mt-2">
            @foreach (var error in ViewData.ModelState["Login"].Errors)
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
    <!-- Display specific model errors -->
    @if (ViewData.ModelState.ContainsKey("Error") && ViewData.ModelState["Error"].Errors.Any())
    {
        <div class="alert alert-danger mt-2">
            @foreach (var error in ViewData.ModelState["Error"].Errors)
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    <!-- Show the form -->
    <div class="container">
        <div class="row">
            <div class="col">
                @using (Html.BeginUmbracoForm<LoginController>(nameof(LoginController.HandleForgottenPassword)))
                {
                    

                    <p>Enter your email address and we will send you a link to reset your password.</p>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Email Address -->
                    <div class="form-group mb-2">
                        <label asp-for="EmailAddress" class="mb-1" style="font-size:.95em;">Email Address *</label>
                        <input asp-for="EmailAddress" class="form-control mb-1" id="FPFInputPassword" aria-describedby="Email Address" placeholder="Enter Email Address" />
                        <span class="field-validation-valid text-danger" asp-validation-for="EmailAddress"></span>
                    </div>

                    <!-- Submit the form -->
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit" value="Submit" name="forgotten-password-button">Submit</button>
                    </div>
                }
                <a href="/Login">Back to login</a>
            </div>
        </div>
    </div>
}





