@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Main.cshtml";
}

@await Html.PartialAsync("RightDrawerSlideout")
<!-- Insert Hero Image -->
@await Html.PartialAsync("HomeCarousel")


<!-- Call to Action --> 
@await Html.PartialAsync("Call To Action")
<!-- Latest News Cards --> 
<div class="container">
    <div class="row">
        <div class="col">
            @await Html.PartialAsync("Latest News")
        </div>
    </div>
</div>

<div class="container">
    <style>
        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
        }
    </style>
    <script>
        $(document).ready(function () {

            $("#owl-demo").owlCarousel({

                navigation: true, // Show next and prev buttons

                slideSpeed: 300,
                paginationSpeed: 400,

                items: 1,
                itemsDesktop: false,
                itemsDesktopSmall: false,
                itemsTablet: false,
                itemsMobile: false

            });

        });
    </script>
<div class="row">
        <div class="col">
            <div class="card">


                <div id="owl-demo" class="owl-carousel owl-theme">

                    <div class="item"><img src="https://images.pexels.com/photos/25020012/pexels-photo-25020012/free-photo-of-close-up-of-a-woman-leaning-against-a-rail.jpeg" alt="The Last of us"></div>
                    <div class="item"><img src="https://images.pexels.com/photos/18820290/pexels-photo-18820290/free-photo-of-pier-on-lake.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="GTA V"></div>
                    <div class="item"><img src="https://images.pexels.com/photos/25548961/pexels-photo-25548961/free-photo-of-a-man-walking-on-a-road-in-the-mountains.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mirror Edge"></div>

                </div>


                @* <img src="https://via.placeholder.com/150" class="card-img-top" alt="..."> *@
            </div>
        </div>
    </div>  
</div>




