@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ResetPassword>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using UdemyTestSite.ViewModels;
@{
	Layout = "Main.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            @await Html.PartialAsync("Partials/Login/ResetPassword", new ResetPasswordViewModel())
        </div>
    </div>
</div>