@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<UdemyTestSite.ViewModels.ResetPasswordViewModel>
@using UdemyTestSite.Controllers
@using Umbraco.Cms.Core.Security
@inject Umbraco.Cms.Core.Services.IMemberService memberService
@inject IMemberManager _memberManager
@model UdemyTestSite.ViewModels.ResetPasswordViewModel


@{
    //Html.EnableClientValidation();
    //Html.EnableUnobtrusiveJavaScript();
}

<!-- Have we Posted? IS it success? -->
<!-- Display Thanks -->
@if(TempData["status"] != null && (string)TempData["status"] == "OK")
{
    <h2>Password changed</h2>
    <p>Your password has been changed. You can now login with your new credentials.</p>
    <a class="btn btn-outline-primary" href="/login">Go to login</a>
}
else
{
    <!-- Display specific model errors -->
    @if (ViewData.ModelState.ContainsKey("Login") && ViewData.ModelState["Login"].Errors.Any())
    {
        <div class="alert alert-danger mt-2">
            @foreach (var error in ViewData.ModelState["Login"].Errors)
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
    <!-- Display specific model errors -->
    @if (ViewData.ModelState.ContainsKey("Error") && ViewData.ModelState["Error"].Errors.Any())
    {
        <div class="alert alert-danger mt-2">
            @foreach (var error in ViewData.ModelState["Error"].Errors)
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    <!-- Otherwise, Show the form -->
    <div class="container">
        <div class="row">
            <div class="col">
                @using (Html.BeginUmbracoForm<LoginController>(nameof(LoginController.HandleResetPassword)))
                {
                    @* @Html.AntiForgeryToken() *@

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- User Name -->
                    <div class="form-group mt-4 mb-2">
                        <label asp-for="Password" class="mb-1" style="font-size:.95em;">Password *</label>
                        <input asp-for="Password" class="form-control mb-1" id="PRFInputUserName" aria-describedby="Password Reset" placeholder="Enter Password" />
                        <span class="field-validation-valid text-danger" asp-validation-for="Password"></span>
                    </div>
                    <!-- User Name -->
                    <div class="form-group mb-2">
                        <label asp-for="ConfirmPassword" class="mb-1" style="font-size:.95em;">ConfirmPassword *</label>
                        <input asp-for="ConfirmPassword" class="form-control mb-1" id="PRFConfirmPassword" aria-describedby="Confirm Password Reset" placeholder="Confirm Password" />
                        <span class="field-validation-valid text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>

                    <!-- Submit the form -->
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit" value="Login" name="register-button">Login</button>
                    </div>
                    
                }
            </div>
        </div>
    </div>
}